# Gradle
.gradle/
build/
**/build/

# IDE
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Local config
local.properties
*.keystore

# Kotlin annotation processors
.kapt/
.cxx/
.externalNativeBuild/

# Compose previews
**/debugUnitTest/

# Crashlytics/Firebase
crashlytics-build.properties
